<h1>Add word to your dictionary</h1>

<p>Add a word below</p>

<form action="/" method="post">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Add Word to Your Dictionary</button>
</form>
