<p>Create a new definition:</p>

<form action="/word/<%= @word.id %>" method="post">
  <label for="defin">Add an definition</label>
  <!-- <input id="defin" name="defin" type="text"> -->
  <textarea name="defin" class="form-control"></textarea>
  <button type="submit">Add definition</button>
</form>


<% if @definitions != [] %>
  <h3>List of definitions added to <%= @word.word() %> <h3>
  <ul>
    <% @word.definitions.each do | definition | %>
      <li><%= @word.definitions %></li>
    <% end %>
  </ul>
<% end %>
<a href="/">Return to Main Page</a>
<!--definition.definition
    word.definition
    definition.add_definition
    word.add_definition-->
